<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Payment Status</title>

    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fonts/icomoon/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/style2.css"  />*@

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap_4.3.1.css" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/fonts/icomoon/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Kannada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">


</head>

<body>
    <!-- Toogle bar -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Top bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="">
                        <span class="d-none d-md-inline-block">Recruitment Wing Karnataka State Police</span>
                    </a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <div class="float-right">
                        <a href="#" class="">
                            <span class="mr-2 icon-timer"></span> <span class="d-none d-md-inline-block">
                                Time:
                                10:30 AM to
                                05:30 PM (Govt. Working Days Only)
                            </span>
                            <span class="d-none d-md-inline-block text-white mr-2 ml-2">|</span>
                        </a>
                        <a href="#" class="">
                            <span class="mr-2 icon-phone"></span><span class="d-none d-md-inline-block">
                                Helpline:
                                080
                                2294 3346 /
                                3039
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav bar -->
    <header class="site-navbar js-sticky-header site-navbar-target p-0" role="banner">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="site-logo">
                    <img src="~/images/logo_v2.jpeg" alt="logo" class="logo">
                    <!-- <a href="index.html" class="text-black"><span class="text-primary">Brand</a> -->
                </div>
                <div class="col-12">
                    <nav class="site-navigation text-right ml-auto" role="navigation">

                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li>
                                <a href="/" class="nav-link" onclick="event.preventDefault();">
                                    Home
                                </a>
                            </li>
                            <li><a href="/login.html" class="nav-link applicationlogin">My Application</a></li>
                            <li>
                                <a href="/index.html" onclick="closeWindow()">
                                    <button class="button2">
                                        Logout
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="toggle-button d-inline-block d-lg-none">
                    <a href="#"
                       class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center font-weight-bold">

                    <p class="m-0">NOTIFICATION NO. - 07 / RECRUITMENT - 4 / 2022-23</p>
                    <p class="m-0">ಅಧಿಸೂಚನೆ ಸಂಖ್ಯೆ - 07 / ನೇಮಕಾತಿ - 4 / 2022-23</p>
                    <p class="m-0">
                        APPLICATION FOR THE POST OF POLICE CONSTABLE (CIVIL)(MEN & WOMEN) (RESIDUAL)
                        &
                        KALYANA
                        KARNATAKA
                        (LOCAL)
                        RECRUITMENT-2023-24
                    </p>
                    <p class="m-0">
                        ಪೊಲೀಸ್ ಕಾನ್ಸ್ಟೇಬಲ್ ಹುದ್ದೆಗೆ ಅರ್ಜಿ (ನಾಗರಿಕ) (ಪುರುಷರು ಮತ್ತು ಮಹಿಳೆಯರು) (ಉಳಿಯಿಂದ
                        ಒಳಗಾದ) & ಕಲ್ಯಾಣ
                        ಕರ್ನಾಟಕ (ಸ್ಥಳೀಯ)
                        ನೇಮಕಾತಿ-2021-22
                    </p>
                </div>
            </div>
        </div>
    </div>

        @RenderBody()

    <footer class="bg-dark">
        <div class="clsFooterTop align-content-lg-center mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card mb-3 bg-transparent border-0">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center">
                                    <img src="~/images/pngwing.com.png" class="img-fluid rounded-start" alt="KSP">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-white mb-3 text-left">General Information</h5>
                                        <p class="card-text text-light">
                                            Please note that this page also provides links to the websites / web
                                            pages of Govt. Ministries/Departments/Organisations. The content of these websites is owned by the
                                            respective organisations, and they may be contacted for any further information or suggestion.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="card bg-transparent border-0">
                            <div class="card-body">
                                <h5 class="card-title text-white mb-3 text-left">Quick Links</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="https://ksp.karnataka.gov.in/" target="_blank" class="text-light">
                                            Karnataka State
                                            Police
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://sevasindhuservices.karnataka.gov.in/" target="_blank" class="text-light">
                                            Seva
                                            Sindhu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://cvs.recruitment.ksp.gov.in" target="_blank" class="text-light">DigiLocker</a>
                                    </li>
                                    <li><a href="#" class="text-light">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="card bg-transparent border-0">
                            <div class="card-body">
                                <h5 class="card-title text-white mb-3 text-left">Contact</h5>
                                <ul class="clsContact list-unstyled">
                                    <li class="pb-3">
                                        <div class="d-flex align-items-start">
                                            <i class="icon-phone text-white mt-2 mr-2"></i>
                                            <span>
                                                <a href="#" class="text-info">
                                                    <span class="text-warning">Help-line Number</span><br>080
                                                    2294 3346 /
                                                    3039
                                                </a>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="pb-3">
                                        <div class="d-flex align-items-start">
                                            <i class="fas fa-clock text-white mt-2 mr-2"></i> <span>
                                                <a href="javascript:void(0);" class="text-info">
                                                    <span class="text-warning">
                                                        Support Centre
                                                        Timings
                                                    </span><br> 10:30 am
                                                    - 05:30
                                                    pm
                                                </a>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clsCopyright">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <p>© 2023 Karnataka State Police. All Rights Reserved</p>
                    </div>
                    <div class="col-6 text-right">
                        <p>IP Address: 115.96.68.20</p>
                    </div>
                </div>
            </div>
        </div>

    </footer>


        <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>

        <script src="~/js/main.js"></script>
        <script src="~/lib/datepicker/datepicker.min.js"></script>
        <script src="~/lib/bootstrap/bootstrap.min.js"></script>
        <script src="~/js/ClientScripts/clientscripts.js"></script>
        <script src="~/lib/sweetalert/js/sweetalert2.js"></script>
        <script src="~/lib/datepicker/datepicker.min.js"></script>
        <script src="~/lib/FlatPicker/flatpicker.min.js"></script>
        <script src="~/lib/notify/js/notyf.min.js"></script>
</body>
</html>
