@page
@model AKPWB240601.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Home page";
}
<section class="login-banner d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5 col-lg-5">
				<div class="card login-card">
					<div class="card-body text-start p-0">
						<div class="logo mb-3 d-flex align-items-start justify-content-start">
							<img src="./images/LOGO.png" alt="Logo" class="img-fluid login-logo">
						</div>
						<h2 class="mb-3 logo-h2">Forget password</h2>
						<form id="loginForm" autocomplete="off">
							<div class="form-group text-left mb-2">
								<label for="username" class="form-label">Email Address</label>
								<input type="text" class="form-control" id="username" name="username" placeholder="Enter your Email id" required autocomplete="off">
							</div>
							

							<a href="/VerifyOtp">
								<button type="button" class="btn btn-primary w-100 login-button mb-5">Submit</button>
							</a>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>