body {
    font-family: 'Barlow', sans-serif;
    background-image: url('../../images/Login_banner.png');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Ensures the background covers the entire viewport */
}

.login-card-img {
    height: 80px;
    width: 129px;
}