@page
@model SWB240603.Pages.Login.LoginModel
@{
    Layout = "_Login";
}

<div class="login-hero">
    <div class="container-fluid pb-3">
        <div class="container-fluid login d-flex justify-content-center align-items-center m-0">
            <div class="row"  style="margin-top: 6%">
                <div class="col-6">
                    <div class="text-center text-white">
                        <img src="~/images/pngwing.com.png" alt="ksp-logo" class="logo py-2">
                        <h2 class="text-white">ARMED POLICE CONSTABLE (MALE & MALE TRANSGENDER)(KK) (CAR/DAR)-2023 (XYZ POSTS)</h2>
                        <h3 class="text-white" font-weight-bold" lang="kn" dir="rtl">
                            ಸಶಸ್ತ್ರ ಪೋಲೀಸ್ ಕಾನ್ಸ್ಟೇಬಲ್ (ಪುರುಷರು ಮತ್ತು ಪುರುಷ ಲಿಂಗಾತೀತ) (ಕಾರ್ / ಡಾರ್)-2023 (3064 ಹುದ್ದೆಗಳು)
                        </h3>
                        <hr>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <img src="/images/pngwing.com.png" alt="logo" class="card-img-top" />
                        </div>
                        <h2 class="card-title mb-4">Application Login</h2>

                        <div class="form">
                            <div class="form-group">
                                <label for="username" class="mb-2">Application Number</label>
                                <input type="text" class="form-control p-2"
                                       placeholder="Enter your username" asp-for="@Model.ApplicantModel.ApplicationNo" />
                            </div>
                            <div class="form-group mb-2">
                                <label for="dob">Date of Birth</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker p-2"
                                           placeholder="Enter your date of birth" asp-for="@Model.ApplicantModel.DateOfBirth" >
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="/Auth/ForgotPassword" class="forgot-password text-primary">
                                Forgot Application No?
                            </a>
                        </div>

                        <div class="d-flex justify-content-center align-content-center my-3">
                            <button type="submit" class="btn btn-primary w-50" id="login-submit">Login</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="~/lib/FlatPicker/flatpicker.min.css">
    <script src="~/lib/FlatPicker/flatpicker.min.js"></script>
    <script>
        flatpickr("#doblogin", {
            dateFormat: "d/m/Y",
            maxDate: "today",
            //defaultDate: "-23y",
            disableMobile: true,
        });
    </script>

</div>
