@page
@model SWB240603.Pages.Auth.ForgotPasswordModel
@{
    Layout = "_Login";
}


<div class="container">
    <!-- <div class="page-title col-md-5"> -->
    <h5 class="mt-4 text-dark text-uppercase font-weight-bold text-center">
        <span>
            Forgot Application
            Number
        </span>
    </h5>
    <!-- </div> -->
    <div class="container mt-5  border-bottom border-secondary">

        <form class="form-horizontal text-center  col-md-12 pb-0">
            <div class="row text-center">
                <div class="form-group row col-md-5">
                    <label for="aadharNumber" class="col-form-label text-left">Aadhar Number :</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control w-100" pattern="^\d{1,12}$" id="aadharNumber"
                               placeholder="Enter Aadhar Number" required class="Model.Applicant.AadharNo" />
                    </div>
                    <span class="invalid" id="aadharValid"></span>
                </div>
                <div class="form-group row col-md-5">
                    <label for="dateOfBirth" class=" col-form-label text-left">Date of Birth :</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control w-100 datepicker" id="dateOfBirth"
                               placeholder="Enter Date of Birth" class="Model.Applicant.DateOfBirth">
                    </div>



                </div>
                <div class="form-group row col-md-2 d-flex align-items-center justify-content-center">
                    <div class="">
                        <button type="submit" class="btn btn-primary submit-btn">
                            Submit
                            <i class="fas fa-arrow-right ms-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container mt-4 pb-5">
        <!-- <div class="row"> -->
        <div class="card">
            <div class="card-header  heading-data" style="
    max-height: 60px;">
                <div class=" card-title text-center">
                    <h2 class="text-white">Application Details</h2>
                </div>
            </div>
            <!-- <div class="col-md-12"> -->
            <div class="col-md-12">
                <div class="table-responsive mt-2">

                    <table class="table table-bordered text-center tb">
                        <thead class="text-center">
                            <tr>
                                <th class="font-left">Applicant Name</th>
                                <th class="font-left">Application Number</th>
                                <th class="font-left">Unit</th>
                                <th class="font-left">Registration Date</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>Model.Applicant.FullName</td>
                                <td>Model.Applicant.ApplicationNo</td>
                                <td>Model.Applicant.UnitCode</td>
                                <td>Model.Applicant.DateOfBirth</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>
