@page
@model UAMS3.Admin.Pages.addstudycentresModel
@{
    Layout = "_Layout";
}

<!-- Start Breadcumb -->
<section id="main" class="main">
	<section id="breadcrumb">
		<div class="container-fluid my-2">
			<div class="row">
				<div class="col-12">
					<div class="d-flex flex-wrap justify-content-between">
						<div>
							<p class="page-title mb-0">Study Centre</p>
						</div>
						<ol class="breadcrumb mb-0">
							<i class="bi bi-house-door-fill"></i>
							<li class="breadcrumb-item">
								Dashboard <span><i class="bi bi-chevron-right"></i></span>
							</li>
							<li class="active">Study Centre</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcumb -->

	<!-- Start Add Study Centre Section -->
	<section id="add-pages" class="add-country mb-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<p class="card-title px-3 py-1">Study Centre Details</p>
						<div class="card-body px-3 py-2">
							<ul class="px-0">
								<li>
									<span>Code</span>
									<input type="text" placeholder="Code" />
								</li>
								<li>
									<span>Display Code</span>
									<input type="text" placeholder="Display Code" />
								</li>
								<li>
									<span>Full Name</span>
									<input type="text" placeholder="Full Name" />
								</li>
							
								<li>
									<span>State Name</span>
									<select class="select">
										<option defaultValue>Select State Name</option>
										<option>TamilNadu</option>
										<option>Karnataka</option>
									</select>
								</li>
								<li>
									<span>City Name</span>
									<input type="text" placeholder="City Name" />
								</li>
								<li>
									<span>Pin Code</span>
									<input type="number" placeholder="Pin Code" />
								</li>
								<li>
									<span>Mobile Number</span>
									<input type="number" placeholder="Mobile Number" />
								</li>
								<li>
									<span>College Info</span>
									<input class="radio-btn" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
									<label class="mx-2" for="flexRadioDefault1">Yes</label>
									<input class="radio-btn" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
									<label class="ms-2" for="flexRadioDefault2">No</label>
								</li>
								<li>
									<span>University</span>
									<select class="select">
										<option defaultValue>Select University</option>
										<option>Sri Venkateshwara University</option>
										<option>Meenakshi Medical College</option>
									</select>
								</li>
								<li>
									<span>Status</span>
									<select class="select">
										<option defaultValue>Select Status</option>
										<option>Completed</option>
										<option>Pending</option>
									</select>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<button class="back-btn"><span><i class="bi bi-arrow-left"></i></span>Back</button>
				<button class="save-btn"><span><i class="bi bi-floppy"></i></span>Save</button>
			</div>
		</div>
	</section>
</section>
<!-- End Add Study Centre Section -->