@page
@model UAMS3.Admin.Pages.admissionregistrationsModel
@{
    Layout = "_Layout";
}

<!-- Start Breadcumb -->
<section id="main" class="main">
	<section id="breadcrumb">
		<div class="container-fluid my-2">
			<div class="row">
				<div class="col-12">
					<div class="d-flex flex-wrap justify-content-between">
						<div>
							<p class="page-title mb-0">Admission Registration</p>
						</div>
						<ol class="breadcrumb mb-0">
							<i class="bi bi-house-door-fill"></i>
							<li class="breadcrumb-item">
								Dashboard <span><i class="bi bi-chevron-right"></i></span>
							</li>
							<li class="active">Admission Registration</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcumb -->

	<!-- Start Admission Reg Section -->
	<section class="admission-registration mb-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<!-- Start Add Delete Section -->
					<section class="delete-add-search mb-3">
						<div class="card">
							<div class="card-body py-2">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<button class="delete-btn"><span><i class="bi bi-trash3"></i></span>Delete</button>
										<select class="select me-2 status-dropdown" aria-label="Default select example">
											<option defaultValue>Status</option>
											<option>Enabled</option>
											<option>Disabled</option>
										</select>
									</div>
									<a href="/addadmissionregistrations">
										<button class="add-btn"><span><i class="bi bi-plus-lg"></i></span>Add</button>
									</a>
								</div>
							</div>
						</div>
					</section>
					<!-- End  Add Delete Section -->

					<!-- Start Admission Reg Table Section -->
					<div class="table-responsive">
						<table id="example" class="table table-striped table-hover" style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th>Reg No</th>
									<th>Full Name</th>
									<th>Mobile</th>
									<th>Email</th>
									<th>Applied Post</th>
									<th>Payment Status</th>
									<th>Download</th>
									<th>Actions</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td></td>
									<td>12345678</td>
									<td>Adolf Hitler</td>
									<td>9999999999</td>
									<td>sample@gmail.com</td>
									<td>B.E(CSE)</td>
									<td>Completed</td>
									<td>
										<button class="download-btn">Export <i class="bi bi-download"></i></button>
									</td>
									<td class="icon">
										<i class="bi bi-pen"></i>
										<i class="bi bi-eye"></i>
									</td>
								</tr>

								<tr>
									<td></td>
									<td>12345678</td>
									<td>Adolf Hitler</td>
									<td>9999999999</td>
									<td>sample@gmail.com</td>
									<td>B.E(CSE)</td>
									<td>Pending</td>
									<td>
										<button class="pay-btn">Pay</button>
									</td>
									<td class="icon">
										<i class="bi bi-pen"></i>
										<i class="bi bi-eye"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- End Admission Reg Table Section -->
				</div>
			</div>
		</div>
	</section>
</section>
<!-- End Admission Reg Section -->