@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: "Nudi";
    src: url("/fonts/icomoon/fonts/Nudi\ web\ 01\ e\ Bold.ttf") format("truetype");
    /* Replace '/path/to/nudi-font.ttf' with the actual path or URL */
}

@font-face {
    font-family: "Nudi.2";
    src: url("/fonts/icomoon/fonts/Nudi\ 01\ e\ Bold.ttf") format("truetype");
    /* Replace '/path/to/nudi-font.ttf' with the actual path or URL */
}

.av-font-kn {
    /* font-family: "Nudi" !important; */
    font-family: "Nudi.2" !important;
    /* font-size: large; */
    /* font-family: noti; */
    font-weight: 600 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #122D40;
    --secondary: #01E281;
    --menu: #1C3E56;
    --white: #ffffff;
    --black: #000000;
    --light-green: #F0FAF1;
    --hover: #0ac578;
}

body {
    background-color: #F4F4F4;
    font-family: 'source sans 3',sans-serif;
}
/* Login Area */

.login-card {
    padding: 25px 20px;
    border-radius: 15px !important;
}

.toggle-password {
    cursor: pointer;
}

.toggle-password-login {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

.logo-h2 {
    color: #111C43;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word
}

.login-banner {
    background-image: url(../images/LOGIN.png);
    height: 100vh;
}

.login-logo {
    width: 88px;
    height: 79px;
}

#loginForm {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

    #loginForm label {
        color: #212529;
        font-size: 18px;
        font-family: "Source Sans 3", sans-serif;
        font-weight: 500;
        line-height: 18px;
        word-wrap: break-word
    }

    #loginForm input {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 24px;
        padding-right: 50px;
        border-radius: 35px;
        border: 1px rgba(33, 37, 41, 0.35) solid;
        box-shadow: none;
    }

    #loginForm::placeholder {
        color: #8F8F8F;
        font-size: 18px;
        font-family: 'Source Sans 3';
        font-weight: 400;
        line-height: 18px;
        word-wrap: break-word
    }

    #loginForm button {
        border-radius: 40px;
        background-color: #c3c3c3;
        border: none;
        height: 45px;
    }

        #loginForm button:hover {
            background-color: #F0B800;
            color: #000;
        }

.termsandconditions {
    font-size: 15px;
}

.fotgot-password {
    font-size: 18px;
    font-family: '"Source Sans 3", sans-serif;';
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
    word-wrap: break-word
}
/* Header Area */
.header {
    background-color: #223B8C;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-below {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    padding: 0 10px;
}

@media only screen and (min-width: 1024px) {
    .header {
        height: 60px;
    }
}

.header-left {
    background-color: #0A1D6E;
    width: 12%;
    display: flex;
    align-items: center;
    padding: 6px;
}

@media only screen and (max-width: 768px) {
    .header-left {
        width: 25%;
        padding: 10px 15px;
    }
}

.header-version {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 14px;
}

.header-text {
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 96%;
    text-transform: uppercase;
}

.header-navbar {
    background-color: #223B8C;
}

.navbar-collapse {
    margin-left: 10px;
    justify-content: flex-end;
}

.hori-drop.show {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*gap: 10px;*/
    max-width: 971px;
    left: -540px;
}

.hori-drop.show li{
    padding :5px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
       
    }
}
.custom-navbar .custom-nav-link,
.custom-navbar {
    color: white !important;
    font-size: 13px;
    font-weight: 500;
    transition: color 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

.custom-navbar .custom-dropdown-menu {
    background-color: #fff;
    padding: 0;
}

.custom-navbar .custom-nav-link:hover,
.custom-navbar .custom-dropdown-item:hover {
    color: #F0B800 !important;
    font-weight: 400 !important;
    background: none !important;
}

/* Active link color */
.custom-navbar .custom-nav-link.active,
.custom-navbar .custom-dropdown-item.active {
    color: #F0B800 !important;
    background: none !important;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-nav {
    position: relative;
}

.profile .img-box img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile .user h6 {
    margin-bottom: 0;
    color: #fff;
}

.profile .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.profile:hover .menu {
    display: block;
}

.profile .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile .menu li {
    padding: 10px 20px;
}

    .profile .menu li a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
    }

.header-right-line {
    height: 22px;
    width: 19px;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding-top: 26px;
    color: #FFF;
}

    .profile .img-box {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
    }

        .profile .img-box img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .profile .user {
        display: flex;
        align-items: center;
    }

        .profile .user h6 {
            display: flex;
            align-items: center;
            margin: 0;
        }

        .profile .user i {
            margin-left: 5px;
            font-size: 12px;
            vertical-align: middle;
        }

.profile-nav {
    position: relative;
    margin-left: auto;
    top: 0;
    right: 0;
    height: 80px;
}

.menu {
    position: absolute;
    top: calc(100% - 17px);
    right: 0;
    width: 150px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
}

    .menu::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 14px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
        z-index: -1;
    }

    .menu.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        background: #fff;
    }

        .menu ul li {
            list-style: none;
        }

            .menu ul li:hover {
                background: #eee;
                color: #000;
            }

            .menu ul li a {
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                padding: 15px 20px;
                gap: 6px;
            }

                .menu ul li a i {
                    font-size: 1.2em;
                }

.main-section {
    padding: 105px 0px 0px 0px;
}


.header-below-logo {
    width: 30px;
    margin-right: 5px;
}

.header-below p:hover {
    color: #F0B800;
}

.page-title {
    font-size: 20px;
    font-weight: 600;
}
/*****| BREAD CRUMBS |*****/
#breadcrumb {
    display: flex;
    list-style: none;
    padding: -1px 11px;
    margin: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0 !important;
    color: var(--bs-breadcrumb-divider-color);
    content: none !important;
}

#breadcrumb li {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#breadcrumb .active {
    font-family: "source sans 3", sans-serif;
    color: lightslategray;
}

.breadcrumb i {
    margin-right: 5px;
    align-items: baseline;
    display: flex;
    justify-content: center;
}

.breadcrumb a {
    color: black;
    transition: 0.3s;
}

    .breadcrumb a:hover {
        color: darkblue;
    }

#breadcrumb p {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.bi-house-fill::before {
    content: "\f404";
    vertical-align: middle !important;
}

.bi-chevron-right::before {
    content: "\f285";
    vertical-align: middle !important;
}

#search-bar {
    padding: 7px 30px 5px 30px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #BBBBBB;
    transition: background-color 0.35s ease;
    border: 2px solid #BBBBBB;
    border-radius: 50px;
    box-shadow: none;
    width: 100%;
}

    #search-bar:focus {
        background-color: white;
    }

.search-icon {
    position: absolute;
    left: 8px;
    top: 49%;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    right: 8px;
    top: 49%;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
    display: none !important;
}

#search-bar:focus + .search-icon + .close-icon {
    display: inline !important;
}

.add-btn {
    background-color: white !important;
    color: #223B8C !important;
    border-radius: 50px !important;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border: 1px solid #223B8C;
    display: flex;
    justify-content: center;
}

.add-menubtn {
    background-color: white !important;
    color: #223B8C !important;
    border-radius: 50px !important;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border: 1px solid #223B8C;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

    .add-menubtn:hover {
        border: 1px solid #223B8C;
        background-color: #223B8C !important;
        color: white !important;
    }

.add-btn:hover {
    border: 1px solid #223B8C;
    background-color: #223B8C !important;
    color: white !important;
}

.import-btn {
    background-color: #223B8C !important;
    color: white !important;
    border-radius: 50px !important;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border: 1px solid #223B8C;
    display: flex;
    justify-content: center;
}

    .import-btn:hover {
        border: 1px solid #223B8C;
        background-color: #fff !important;
        color: #223B8C !important;
    }

.export-btn {
    background-color: #0065FF;
    color: #fff;
    border-radius: 50px !important;
    width: 98px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
}

    .export-btn:hover {
        background-color: #0065FF;
        color: #fff;
    }

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-left: 6px solid transparent;
}

/* Up arrow when dropdown is open */
.dropdown-toggle.open::after {
    content: "";
    border-top: 0;
    border-bottom: 6px solid;
}

.dropdown-menu.export-dropdown {
    width: 98px;
    min-width: 98px;
}
/* From Uiverse.io by elijahgummer */
.permissions-checks .checkbox {
    --blue: #0d7eff;
    --g08: #e1e5eb;
    --g04: #848ea1;
    text-align: center;
}

.permissions-checks .checkbox .tgl {
    display: none;
}

.permissions-checks .checkbox .tgl,
.permissions-checks .checkbox .tgl:after,
.permissions-checks .checkbox .tgl:before,
.permissions-checks .checkbox .tgl *,
.permissions-checks .checkbox .tgl *:after,
.permissions-checks .checkbox .tgl *:before,
.permissions-checks .checkbox .tgl + .tgl-btn {
    box-sizing: border-box;
}

.permissions-checks .checkbox .tgl::selection,
.permissions-checks .checkbox .tgl:after::selection,
.permissions-checks .checkbox .tgl:before::selection,
.permissions-checks .checkbox .tgl *::selection,
.permissions-checks .checkbox .tgl *:after::selection,
.permissions-checks .checkbox .tgl *:before::selection,
.permissions-checks .checkbox .tgl + .tgl-btn::selection {
    background: none;
}

    .permissions-checks .checkbox .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 45px;
        height: 25px;
        position: relative;
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
    }

.permissions-checks .checkbox .tgl + .tgl-btn:after,
.permissions-checks .checkbox .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.permissions-checks .checkbox .tgl + .tgl-btn:after {
    left: 0;
}

    .permissions-checks .checkbox .tgl + .tgl-btn:before {
        display: inline;
        position: absolute;
        top: 4px;
    }

.permissions-checks .checkbox .tgl:checked + .tgl-btn:after {
    left: 56.5%;
}

.permissions-checks .checkbox .tgl + .tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.permissions-checks .checkbox .tgl + .tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.permissions-checks .checkbox .tgl + .tgl-btn:before {
    content: "No";
    left: 22px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.permissions-checks .checkbox .tgl + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.permissions-checks .checkbox .tgl + .tgl-btn:active:after {
    padding-right: 0.4em;
}

.permissions-checks .checkbox .tgl:checked + .tgl-btn {
    background: var(--blue);
}

.permissions-checks .checkbox .tgl:checked + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.permissions-checks .checkbox .tgl:checked + .tgl-btn:active:after {
    margin-left: -0.4em;
}

.permissions-checks .checkbox .tgl:checked + .tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}
.fa-plus {
    font-size: 12px;
    font-weight: 700;
}

.proceed-btn {
    margin-right: 20px !important;
    background: none;
    border: none;
    color: #007542;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
}
.user-btn {
    margin-right: 20px !important;
    background: #ECFDF3 !important;
    border: #ECFDF3 !important;
    color: #30B052 !important;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
    border-radius:30px;
}
.applied-btn {
    margin-right: 20px !important;
    background: #ECF1FD;
    border: none;
    color: #0065FF;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
    border-radius:30px;
}
.noteligible-btn {
    margin-right: 20px !important;
    background: #FFF0F0;
    border: none;
    color: #DC0000;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 30px;
}
.noteligible-btn:hover {
    margin-right: 20px !important;
    background: #FFF0F0;
    border: none;
    color: #DC0000;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 30px;
}
.not-paid {
    color: #EA9419;
}
.applied-btn:hover {
    margin-right: 20px !important;
    background: #ECF1FD;
    border: none;
    color: #0065FF;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 30px;
}
    .proceed-btn:hover {
        margin-right: 10px;
        background: #007542;
        color: #fff;
        border-radius: 50px;
        width: fit-content;
        padding: 2px 10px;
    }

.bi-eye, .bi-pencil {
    cursor: pointer;
}

.fa-file-pdf {
    cursor: pointer;
}

.pending-btn {
    background: none;
    border: none;
    color: #D9512C;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 2px 10px;
}

    .pending-btn:hover {
        background: #D9512C;
        color: #fff;
        border-radius: 50px;
        width: fit-content;
        padding: 2px 10px;
    }

/*add posts*/
.tab-container {
    margin: 20px;
}

.tabs {
    display: flex;
    border-radius: 11px 11px 0 0;
    background: #F0B800;
    padding: 0 2px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background: #F0B800;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

    .tab-button.active {
        background: #fff;
        font-weight: bold;
        border-bottom: 1px solid transparent;
        border-radius: 15px 19px 0px 0px;
        margin-top: 3px;
    }

.tab {
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    background: white;
    border-top: none;
    padding: 10px;
}

.previews {
    display: flex;
    border-radius: 11px 11px 0 0;
    background: #F0B800;
    padding: 0 2px;
}

.preview {
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    background: white;
    border-top: none;
    padding: 10px;
}

.addpost-th {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

    .addpost-th span {
        margin-left: 45px;
    }

.add-post-input1 {
    width: 350px;
    padding: 10px 40px 10px 15px;
    border-radius: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.add-post-input3 {
    width: 702px;
    padding: 10px 40px 10px 15px;
    border-radius: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.add-post-input4 {
    display: none; /* Hide the default file input */
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.file-upload-text {
    margin: 0 0 10px;
    color: #949494;
}

.file-upload-info {
    margin: 0 0 20px;
    font-size: 0.875em; /* Adjust font size if needed */
    color: #949494; /* Adjust color if needed */
}

.file-upload-label {
    display: inline-block;
    background-color: white;
    color: #0044B4;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #0044B4;
}

.add-post-input1:focus {
    border-color: #eee; /* Keep the border color the same */
    outline: none; /* Remove the default outline */
}

.add-post-input3:focus {
    border-color: #eee; /* Keep the border color the same */
    outline: none; /* Remove the default outline */
}

.add-post-input {
    width: 350px;
    padding: 10px 40px 10px 15px;
    border-radius: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
}

    .add-post-input:focus {
        border-color: #eee; /* Keep the border color the same */
        outline: none; /* Remove the default outline */
    }

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-wrapper1 {
    position: relative;
    display: inline-block;
    width: 685px;
}

.calendar-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
    pointer-events: none;
}

.clock-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
    pointer-events: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin-right: 10px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: red;
    transition: .4s;
    border-radius: 30px;
}

.deleting-icon {
    cursor: pointer;
}
/* The slider before */
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    top: 6px;
}

.events-table {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap;
}

    .events-table th .header-content {
        white-space: nowrap; 
    }

    .events-table td,
    .events-table th {
        white-space: nowrap;
    }

input:checked + .slider {
    background-color: green;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.toggle-text {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    top: 62%;
    left: 65%;
    transform: translate(-50%, -50%);
}

input:checked + .slider + .toggle-text {
    left: calc(100% - 70%);
    transform: translate(-50%, -50%);
}

/* Footer Section */

footer {
    background-color: #333;
    color: #fff;
}

.footer-fonts {
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .footer-content span {
        margin: 5px;
    }

#ip-address {
    white-space: nowrap;
}

#date-time {
    flex: 1;
}
/* document */
.toggle-checkbox {
    display: none;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 25px;
    background-color: red;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 6px;
}

    .toggle-label::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        top: 4px;
        left: 4px;
        transition: transform 0.3s;
    }

.toggle-checkbox:checked + .toggle-label {
    background-color: green;
}

    .toggle-checkbox:checked + .toggle-label::before {
        transform: translateX(26px);
    }

.toggle-status {
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-per-page {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .items-per-page .form-select {
        width: 69px;
        box-shadow: none;
    }

.custom-table-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

    .custom-table thead {
        background-color: #F0B800 !important;
        color: black;
        display: table-header-group;
    }

        .custom-table thead th {
            background: none;
            font-size: 15px;
            padding: 5px;
            white-space: nowrap !important;
        }
            .custom-table thead tbody tr{
            display: table;
            width: 100%;
            table-layout: fixed;
            }
    .custom-table tbody tr th,
    .custom-table tbody tr td {
        text-align: start !important;
        vertical-align: middle;
        padding:5px !important;
        overflow-x: auto;
        background: none;
    }

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none !important;
    border-width: 0;
}

.proceed-btn {
    margin: 0;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #fff !important;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #F6F8FF !important;
}

.custom-table tbody tr td:first-child {
    background: none;
    padding-left: 17px !important;
    overflow-x: auto;
}

.table-container {
    position: relative;
    padding-bottom: 2rem;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.pagination {
    margin: 0;
    --bs-pagination-hover-border-color: none !important;
    --bs-pagination-hover-bg: none !important;
    box-shadow: none !important;
    --bs-pagination-focus-box-shadow: none !important;
    --bs-pagination-focus-bg: none !important;
}
a{
    cursor:pointer;
}
.page-item {
    display: inline-block;
}

.page-link {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0px 8px;
    margin: 0 2px;
    border-radius: 3px;
}

.page-item:last-child .page-link {
    font-size: 25px;
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
    font-weight: bold;
}

.page-item:first-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
    font-weight: bold;
    font-size: 25px;
}

.active > .page-link, .page-link.active {
    z-index: 3;
    color: black;
    background-color: white;
    border-color: black;
    margin-top: 8px;
}

.custom-header {
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.sort-icons {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 21px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal; 
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    cursor:pointer !important;
}
/*Registration*/
.register-header {
    padding: 70px;
    background: #F0B800;
    border: 2px solid #F0B800;
    border-radius: 10px 10px 0px 0px;
}

.register-heading {
    font-family: 'source sans 3', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
/* General table styling */
#homepagecontent {
    width: 100px;
}

#new-application .card {
    width: 100%;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px !important;
    margin-bottom: 30px;
}

.inputchanges .card-title {
    background-color: var(--primary);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.inputchanges .card-title-2 {
    background-color: var(--menu);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/***** | FORM | *****/

form .form-label {
    font-size: 14px;
    font-weight: 600;
}

form .form-select {
    border: 1px solid var(--black);
    border-radius: 5px;
}

    form .form-select:focus {
        border: 1px solid var(--primary);
        box-shadow: none;
    }

form .form-control {
    border: 1px solid var(--black);
    border-radius: 5px;
}

    form .form-control:focus {
        border: 1px solid var(--primary);
        box-shadow: none;
    }

#candidate-input .form-group {
    width: 100%;
    padding: 0 10px;
}

#candidate-input textarea {
    height: 150px;
    border-radius: 10px;
}

.form-check-input {
    height: 16px !important;
    box-shadow: none;
    border: 2px solid var(--primary) !important;
    border-radius: 0;
    box-shadow: none !important;
}

#applicationForm .uploadfile .center {
    height: 330px;
    border-radius: 3px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



#applicationForm .uploadfile .title {
    width: 100%;
    border-bottom: 1px solid #999;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#applicationForm .uploadfile h1 {
    font-size: 16px;
    margin-bottom: 0;
}

#applicationForm .uploadfile .dropzone {
    width: 280px;
    height: 150px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
}

#applicationForm .uploadfile .upload-icon {
    width: 250px !important;
    max-height: 130px !important;
}



#applicationForm .uploadfile .upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.uploadfile .btn {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 3px 10px;
    color: #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    font-size: 14px !important;
    font-weight: 600;
    margin-bottom: 10px;
}

.application-formheading {
    background: #F0B800;
    border: 2px solid #f0b800;
    padding: 30px;
    border-radius: 11px 11px 0px 0px;
}
/*----------payment----------------*/
.payment-card {
    max-width: 845px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:  #EEF4FD;
    ;
}

.payment-row {
    display: flex;
    align-items: center;
}

.payment-label {
    flex: 0 0 200px; /* Fixed width for label */
    font-weight: bold;
    color: #333;
}

.payment-colon {
    flex: 0 0 20px; /* Fixed width for the colon */
    text-align: center;
    color: #333;
    font-weight: bold;
}

.payment-description {
    flex: 1; /* Take up the remaining space */
    color: #555;
    font-size: 18px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
.payment-sucess {
    color: #008124;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    top: 30px !important;
}
.modal-dialog {
    max-width: 85%; 
    padding:7px;
}
.custom-form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.custom-form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-label {
    margin-right: 1rem; /* Adjust margin for spacing */
    white-space: nowrap; /* Prevents label text from wrapping */
}

.modal-input {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 48px;
    padding: 7px;
}
.modal-colan{
    margin-left:50px;
}
/*work flow*/
.card-container {
    max-width: 98%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-item {
    padding: 10px 14px;
    cursor: pointer;
    color: #000; /* Default color for inactive tabs */
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

    .tab-item.active {
        color: #223B8C;
        border-bottom: 2px solid #223B8C;
        font-size: 18px;
        font-weight: 600;
    }

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.checkmark {
    width: 12px;
    height: 12px;
    display: none;
}

.status-checkbox:checked + .status-label .checkmark {
    display: block;
}

.status-title {
    font-weight: 400;
    color: #808080;
    transition: color 0.3s;
    font-size: 18px;
}

.status-checkbox:checked + .status-label .status-title {
    color: #223B8C;
    font-weight: 600;
}

.status-line {
    position: absolute;
    left: 8px;
    top: 20px;
    width: 2px;
    height: calc(100% - 40px);
    background-color: #808080;
    transition: background-color 0.3s;
}
.order-text {
    color: #5F6368;
    font-size:18px;
    font-weight:400;
}
.order-edit {
    color: #5F6368;
    font-size: 18px;
    font-weight: 400;
}

.timeline {
    position: relative;
    margin-left: 20px;
}


.timeline-item {
    position: relative;
    padding-left: 40px; /* Adjusted for the larger checkbox */
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .timeline-item input[type="checkbox"] {
        position: absolute;
        left: -30px; /* Adjusted for the larger checkbox */
        top: 10px; /* Adjusted for better alignment */
        width: 20px; /* Increased size */
        height: 20px; /* Increased size */
        margin: 0;
        cursor: pointer;
        border-radius: 50%; /* Make the checkbox rounded */
        border: 2px solid #ccc;
        appearance: none; /* Remove default checkbox styling */
        background-color: white;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .timeline-item input[type="checkbox"]:checked {
            background-color: #223B8C; /* Fill color when checked */
            border-color: #223B8C;
        }

            .timeline-item input[type="checkbox"]:checked::after {
                content: '';
                position: absolute;
                top: 0; /* Adjusted for centering */
                left: 5px; /* Adjusted for centering */
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

    .timeline-item label {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #808080;
    }

    .timeline-item input[type="checkbox"]:checked + label {
        color: #223B8C; 
        font-weight:600;
    }

    .timeline-item input[type="checkbox"]:checked ~ .timeline:before {
        background-color: #007bff; /* Highlight the line */
    }

.workflow-label {
    color: #808080;
}
.status-lin {
    background: #808080;
    height: 25px; /* Initially zero height */
    width: 2px;
    position: absolute;
    left: -22px;
    top: 30px;
    transition: height 0.5s ease; /* Slow transition */
}

.timeline-item input[type="checkbox"]:checked ~ .status-lin {
    height: 100%;
    background: #223B8C;
}

.status-container-dropdown {
    position: relative;
    margin-left: 20px;
}

.status-row2 {
    position: relative;
    padding-left: 40px;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.status-checkbox2 {
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ccc;
    appearance: none;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

    .status-checkbox2:checked {
        background-color: #007bff;
        border-color: #007bff;
    }

        .status-checkbox2:checked + .status-label .status-circle2 .checkmark path {
            stroke: white;
        }

.dropdown-content {
    display: none;
    margin-top: 10px;
    padding-left: 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease;
}

.status-row2.open .dropdown-content {
    display: block;
}

.status-line2 {
    background: red;
    height: 0;
    width: 2px;
    position: absolute;
    left: -22px;
    transition: height 0.5s ease;
}

.status-checkbox2:checked ~ .dropdown-content .status-line2 {
    height: 37px;
}

.drop-down-status {
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

    .drop-down-status.show {
        display: block; /* Make it visible */
        opacity: 1;
    }

/* Additional styles for dropdown content */
.dropdown-content {
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.status-row2 input:checked ~ .dropdown-content {
    opacity: 1;
}
.user-roll-dropdown {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate(0px, 21px) !important;
    background: none;
    border: none;
}
.user-role-list:hover{
    background:none !important;
}
.user-toggle {
    height: 23px !important;
    width: 47px !important;
    border: 1px solid #eee !important;
}
.biometric-img {
    width:105px !important;
    height:67px !important;
}
#imageModal .modal-content {
    background: none;
    border: none;
    border-radius: 0;
}

#imageModal .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageModal .modal-dialog {
    max-width: 100%;
    margin: 0;
}

#imageModal img {
    object-fit: contain;
    width:500px;
}
.generate-name {
    color: #223B8C !important;
}
.import-nominal{
    width:54% !important;
    left:200px;
}
.modal-header .btn-close {
    transition: color 0.3s ease;
}
    .modal-header .btn-close:hover {
        color: red; /* Desired color on hover */
    }
.swal2-button {
    border-radius: 30px !important;
    outline: none !important;
    padding: 5px 15px !important; /* Added more padding for better appearance */
}

.swal2-actions-right {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 0px !important;
    padding-right: 13px;
    width: 100% !important;
}
/*post*/
.active-text {
    color: #30B052 !important;
}
.inactive-text {
    color: #EA9419 !important;
}

/* tickets */
.ticket-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}

.ticket-sidebar {
    width: 25%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the sidebar container */
    display: flex;
    flex-direction: column;
}

.sidebar-ticket-heading {
    background: #F0B800;
    padding: 8px;
    color: #000;
    border-radius: 4px 4px 0px 0px;
    flex-shrink: 0; /* Prevent shrinking */
}

.ticket-item-container {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling within this container */
}

.ticket-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

    .ticket-item:hover,
    .ticket-item.active {
        background-color: #E5ECFF;
    }

.ticket-status {
    color: #f58d1f;
    display: flex;
    justify-content: end;
    align-items: end;
}

    .ticket-status.completed {
        color: green;
    }

.ticket-details {
    padding: 10px;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}

.message {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #fff;
}

.message-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.attachment {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.ticket-sidebar::-webkit-scrollbar,
.ticket-details::-webkit-scrollbar {
    width: 8px;
    height: 1px !important;
}

.ticket-sidebar::-webkit-scrollbar-thumb,
.ticket-details::-webkit-scrollbar-thumb {
    background-color: darkslategrey;
    border-radius: 4px;
}

.ticket-sidebar::-webkit-scrollbar-track,
.ticket-details::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.ticket-sidebar,
.ticket-details {
    scrollbar-width: thin;
    scrollbar-color: darkslategrey #f5f5f5;
}

.ticket-span {
    color: #949494;
}

.ticket-heading {
    color: #212529;
    font-size: 18px;
    font-weight: 600;
}
.Status-btn {
    background-color: white;
    color: #223B8C;
    border-radius: 50px !important;
    border: 2px solid #223B8C;
    width: 98px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
}
.Status-btn:hover {
    background-color: white;
    color: #223B8C;
    border-radius: 50px !important;
    border: 2px solid #223B8C;
    width: 98px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
}
.ticketdetails-p {
    color: #949494;
}
.ticketdetails-p span {
    margin: 0 8px; 
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container span {
    color: #949494;   
    margin-right: 11px; 
}

.icon-container span:last-of-type {
    margin-right: 0; 
}
.icon-container span:first-of-type {
    color: black; /* Set the color of the first icon to black */
}
.ticket-checkbox {
    margin-right: 10px;
}
.tickets-meritlist {
    margin: 0px 24px !important;
}
.ticket-img {
    border-radius: 50% !important;
    margin: 0px 21px 0px 0px;
}
.ticket-img-p {
    margin: 0px 45px;
    color: #949494;
    font-size:18px;
    font-weight:400;
}
.message-header-card {
    background: #F8F8F8 !important;
    width:184px;
    padding:10px;
}
.icon-row{
    margin-left:-16px;
}
.custom-header .header-texts {
    display: inline-block;
    max-width: 150px; /* Adjust the width as needed */
    white-space: normal; /* Allows text to wrap */
    text-align: left; /* Aligns the text to the left */
    line-height: 1.2; /* Adjusts the spacing between lines */
}