@page
@model SWB240601.Pages.Payments.PaymentModel
@{
    Layout = "_Payment";
}

<main id="main">
    <!-- <section id="featured-services" class="featured-services"> -->

    <div class="container mt-3 ">
        <div class="row align-items-center">
            <h5 class="text-white payment-heading-bg">MY APPLICATION</h5>
        </div>

        <!-- <div class="container"> -->

        <div class="row border border-radius rounded-3 border-white mt-2 "
             style="background-color: #fff;">
            <div class="col-md-12 p-3">
                <div class="row justify-content-around mt-3">
                    <div class="col-md-6">
                        <div class="card p-3">
                            <div class="row">
                                <!-- Applicant Number -->
                                <div class="row justify-content-around mt-2 ">
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1">Applicant Number</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2">78004843</p>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Applying As -->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Applying As</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> Direct Candidate</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Additional fields -->
                                <div class="row justify-content-around mt-2">
                                    <!-- Applicant Number -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1">   Date of Birth </p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2">   08/07/1997</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Applying As -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Gender</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> Male</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Aadhar Number -->
                                <div class="row justify-content-around mt-2">
                                    <!-- Applicant Number -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Aadhar Number</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> 1234 5678 9876</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Applying As -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Category</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> sc</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-around mt-2">
                                    <!-- Applicant Number -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Mobile Number</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> +91 9361129250</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Applying As -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> E-mail</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> lagumeshv6@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-around mt-2">
                                    <!-- Applicant Number -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Unit</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> Karanataka</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Applying As -->
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="mb-1"> Reservation</p>
                                            </div>
                                            <div class="col-12 custom-border">
                                                <p class="text-dark fs-7 m-0 p-2"> PDP Rural</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 mb-3 d-flex justify-content-center">
                                        <img src="~/assets/img/candidate.png" class="img-fluid" alt="Candidate Photo">
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center mt-2">
                                        <img src="~/assets/img/Rectangle 67.png" class="img-fluid" alt="Photo & Signature">
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center mt-5">
                                        <p class="payment-img-heading">Photo & Signature</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 mb-3 d-flex justify-content-center">
                                        <img src="~/assets/img/aadhar.png" class="img-fluid" alt="Aadhar Photo">
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center mt-2">
                                        <img src="~/assets/img/fingerprint.png" class="img-fluid" alt="Thumbprint">
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center mt-5">
                                        <p class="payment-img-heading">Aadhar&Thumb</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->
    <!-- </section> -->
    <!-- <section id="featured-services" class="featured-services"> -->
    <div class="container mt-2">
        <div class="row align-items-center">
            <h5 class="text-white payment-heading-bg">Fees Details</h5>
        </div>
    </div>
    <div class="container border border-radius rounded-3 border-white mt-2" style="background-color: #fff;">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-around ">
                    <!-- Applicant Number -->
                    <div class="col-md-9 ">
                        <!-- Adjusted column size to take up 9 out of 12 columns -->
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-1">Exam Fees</p>
                            </div>
                            <div class="col-12 custom-border6 mb-3">
                                <p class="text-dark fs-7 m-0 p-2">Lorem</p>
                            </div>
                        </div>
                    </div>
                    <!-- Applying As -->
                    <div class="col-md-3">
                        <!-- Adjusted column size to take up 3 out of 12 columns -->
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-1">Amount</p>
                            </div>
                            <div class="col-12 custom-border">
                                <p class="text-dark fs-7 m-0 p-2">RS.400</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </section> -->



    <div class="container mt-2">
        <div class="row align-items-center">
            <h5 class="text-white payment-heading-bg">My Application </h5>
        </div>
    </div>

    <div class="container border border-radius rounded-3 border-white mt-2" style="background-color: #fff;">
        <div class="card-body m-0 row col-lg-12 col-sm-12 d-flex justify-content-around align-items-center p-2 text-center"
             style="background-color: #FFF;">
            <!-- <div class="row"> -->
            <div class="col-sm-4" data-aos="fade-right">
                <h4>Post Office</h4>
                <div class="box-photo-download align-items-center" data-aos="fade-right">
                    <img src="~/assets/img/India_Post_Logo.svg.png" alt="" style="height: 100%; width: 100%;"
                         class="p-2 my-1">
                </div>
                <button class="btn text-white my-3" style="background-color: #002C49;"
                        data-aos="fade-right">
                    Download
                </button>
            </div>
            <div class="col-sm-4" data-aos="fade-up">
                <h4>Canara Bank</h4>
                <div class="box-photo-download" data-aos="fade-up">
                    <img src="~/assets/img/774696blob.png" alt="" style="height: 22%; width: 72%;">
                </div>


                <button class="btn text-white my-3" data-aos="fade-up"
                        style="background-color: #002C49;">
                    Download
                </button>
            </div>
            <div class="col-sm-4" data-aos="fade-left">
                <h4>Online</h4>
                <div class="box-photo-download" data-aos="fade-left">
                    <img src="/assets/img/the-top-10-most-popular-online-payment-solutions-5e9978d564973-760x400.webp"
                         alt="" style="height: 100%; width: 100%;" class="p-2 my-1">
                </div>
                <a href="~/Payments/PaymentFailure">
                    <button class="btn text-white my-3" data-aos="fade-left"
                            style="background-color: #002C49;">
                        Proceed
                    </button>
                </a>
            </div>
            <!-- </div> -->
        </div>

    </div>



</main>